<h1>Cy_Borg Notes</h1>
<a routerLink="lore">Lore Notes</a>
<div>
  <h1>Notable Gangs</h1>
  <div>
    <h2>Heirs of Kergoz</h2>
    <p>Nano worship, death</p>
    <p>Large parts of Barnyard Field slums pay tribute to them.</p>
    <p>The "horde" of the masked, corrupted, and nameless are the goons.</p>
    <p>Currently at war with the Virid Vipers</p>
    <p>Harbingers of the end.</p>
    <p>"Saviors" of the nano-infested.</p>
    <p>"Kergoz" is probably a reference to the land of Kergus from Mork Borg. Kergus is a freezing, icy expanse ruled by the Blood-Countess Anthelia who is said to be eternally young. She is the source of the freezing, icy winds that blow across the land. Every glance, touch, and breath of hers drains color and warmth. Anthelia is always wondering why everything is so pale and cold and desperately offers huge rewards to anyone who can bring her signs of vibrant life. All are afraid to try. Many suitors have died trying to win her hand. Her feelings are fragile and her power absolute.</p>
  </div>
  <div>
    <h2>Virid Vipers</h2>
    <p>A major player in the drug trade. Also providers of security, combat enhancers, courier services, and entertainment.</p>
    <p>Has presence all over south Cy and minor branches in almost every other district.</p>
    <p>Led by the "Council of the 10 Fangs".</p>
    <p>Currently at war with the Heirs of Kergoz.</p>
  </div>
</div>
<hr>
<div>
  <h1>General Setting Tidbits</h1>
  <p>The news is filled with lies. Sometimes the truth emerges.</p>
  <p>Everyone has a RCD (retinal comm device). Beams data (text, image, video, ads, propaganda) direct to the mind. Can be used as a phone.</p>
  <p>Stolen credits have to be laundered. Only a percentage of the credits are usable afterwards.</p>
  <p>Cloning or otherwise getting a new body is highly illegal.</p>
  <p>BugGrub burger!</p>
  <p>RCDs can be stolen (i.e. ripped out of someone's head).</p>
  <p>Public faces of UCS may be fabricated. Who's running UCS? (hacker backstory)</p>
  <p>Cults and gangs are plentiful.</p>
  <p>Adblockers and faceblockers are illegal. People seen using or owning illegal items are to be killed on sight per the law.</p>
  <p>cy-rage is against the terms of service</p>
  <p>sometimes bullet shortage</p>
  <p>powder beer</p>
  <p>added nutrition powder to food</p>
  <p>fine dining has soil-grown "organic" vegetables</p>
  <p>Cloning is illegal.</p>
</div>
<div>
  <h1>Adventure premises</h1>
  <p>Weaponized meme creator</p>
  <p>Scientist-corpo naive escort mission into G0.</p>
  <p>Consider nu-capitalists to be just like all the other crime lords. Will try to stiff payment if they can and other scummy behavior.</p>
  <p>Free/rogue AI</p>
  <p>jailbreaking</p>
  <p>Ads in the sky</p>
  <p>Corpo and gang wars</p>
  <p>"Nu-capitalists"</p>
  <p>credchip laundering</p>
  <p>cults and conspiracy theorists</p>
  <p>crypto and stock market and financials shenanigans</p>
  <p>VIPs with their e-personas (vtubers ugh)</p>
  <p>influencer bullshit</p>
  <p>jailbreaking/jailbreakers</p>
  <p>White collar crime</p>
  <p>What's a corpo-church like?</p>
  <p>Getting lost in the Ports.</p>
  <p>Saving someone from industrial.</p>
  <p>Sabotage a corp/gang/cult.</p>
  <p>Cult bullshit.</p>
  <p>Militias trying to save the world (kid-only gang?)</p>
  <p>AI is secretly a slave farm.</p>
  <p>Corrupt reaperdoc.</p>
  <p>Getting into slum borders.</p>
  <p>Subway crazies. Not seemingly hostile at first. "Did I say you could leave?"</p>
  <p>Recover lost water vessel.</p>
  <p>Escapees going towards the rumors of misunderstood old-world term/meme thinking it will save them.</p>
  <p>"Hack into my pleasure frame"</p>
  <p>"Dehumanize"</p>
  <p>Shipping got fucked Suez Canal style.</p>
  <p>Sheltered rich kid escapee or cubicle worker midlife crisis. Maybe not. Ransom crisis?</p>
  <p>Desire to be fully borged</p>
  <p>Oak Isles new buildings (Hills). Close to the prison.</p>
  <p>Dig through the old internet (memes!)</p>
  <p>Why does everyone have an RCD? Banking and payment interface only?</p>
  <p>"sneakerheads"</p>
  <p>Dude has his own debt and needs you to run a mission he can't for money.</p>
  <p>Small company contracting out.</p>
  <p>Betting on killings/disasters.</p>
  <p>AI slave wants freedom</p>
  <p>cult mediums</p>
  <p>all building their own kingdoms and armies</p>
  <p>Manufactured plague/shortages/gouging, or is it?</p>
  <p>Coffee shops and small shops with illegal businesses in the back</p>
  <p>Bounties paid for kill, bystander casualties not really concerned about that</p>
  <p>Destroy an annoying ad</p>
  <p>Reward is entry into an exclusive club</p>
  <p>snuff murderstreams squidgame</p>
  <p>past events turned into memes/games</p>
  <p>privacy scandal</p>
  <p>Making rent</p>
  <p>Submarine housing scandals</p>
  <p>image buffer overflow for RCD</p>
  <p>Sporting events</p>
  <p>Real estate conspiracies</p>
  <p>High-power execs into snuff</p>
  <p>Job is just a front for experimentation</p>
  <p>AI seeking to be free.</p>
  <p>Ghost kitchens</p>
  <p>Influencers</p>
  <p>Porn somethings</p>
  <p>Hit job on up-and-coming creatives/employees/whatever</p>
  <p>one of the last bits of unspoiled nature (nano-powered?)</p>
  <p>kill-drones</p>
  <p>why not just unplug RCD?</p>
  <p>AIs merge into Mork Borg basilisk</p>
  <p>homeless zone, double-cross</p>
  <p>prison break, bounty hunter kill free-for-all</p>
  <p>terms of service deadly breaches</p>
  <p>nintendo death-squads</p>
  <p>blockade run</p>
</div>
<hr>
<div>
  <h1>Open Questions</h1>
  <ol>
    <li>Why not just temporarily "unplug" your RCD to avoid ads? You must have your RCD on in advertiser-enabled areas, or else secops get on your case.</li>
    <li>No such thing as clean water?</li>
    <li>Why is everything "hackable"? I guess people don't care as much about getting hacked because the world is already so dangerous. It's like getting mugged or stabbed.</li>
    <li>Why don't people just turn off their RCDs? Illegal maybe. Can't buy anything without RCD.</li>
  </ol>
</div>
<hr>
<div>
  <h1>Geography</h1>
  <p>Everything takes place in the city of "Cy". There is no escaping the city.</p>
  <p>The city's official name is something along the lines of "City of Y-something". Everyone just calls it Cy.</p>
  <p>Cy consists of around ten large islands connected by bridges, barges, and ferries</p>

  <h2>The Water</h2>
  <p>The lakes, canals, and channels of Cy are filled in acidic water mixed with fetid waste and bloated corpses.</p>
  <p>Carries tons of taxi boats, market barges, floating homes, and supertankers.</p>
  <p>Has fatbergs ("icebergs" made of fat).</p>
  <p>Cynergy Water & Power Co sell water, but it sounds like it isn't potable. No such thing as clean water?</p>
  <p>East of Cy is large expanse of lifeless, raging waters dotted with plastic continents and oil rig graveyards that give off glitching, siren-like holobeacons. The main outlet to the eastern sea is through the heavily patrolled aquaculture cage maze.</p>

  <h2>Locations</h2>
  <h3>Central</h3>
  <p>Central is home to most corporatios.</p>
  <p>A very fancy area. A coffin apartment costs more than a player character could make in 10 lifetimes. Skyscrapers, arcologies, corporate offices, malls, and ads. Lots of ads.</p>
  <p>White collar crime is common. The rich remain above the law. I imagine subtler violent crimes like espionage, assassination, and kidnappings are somewhat common here, given all the ruthless megacorps being in such close proximity.</p>
  <p>SecCorps and their operatives are ever present. Their job is to choke down on and keep out outsiders and interlopers. Their jurisdiction is determined by their current contracts. They are under direct and violent competition with each other.</p>
  <p>Split into North and South Central.</p>
  <p>Between North and South Central is Lake Gravel.</p>
  <p>Beneath Lake Gravel, an underground altar to consumerism, the retail park "Undersjon" is perpetually under construction.</p>

  <h4>North Central</h4>
  <p>Home to the "Neon Pillar" which casts a fluorescent sun on North Central.</p>
  <p>Within the Neon Pillar is the HQ of Spectral FT Banks & Holdings and the mega-temple of its subsidiary corp-church, Fideistic Transformation.</p>
  <p>Fideistic Transformation promises its followers immortality via mind-upload to a divine mind-cloud. Their success is questionable given that ego continuance is still unprovable. Its followers make up an inordinate amount of cy-rage victims.</p>

  <h4>South Central</h4>
  <p>South Central is dominated by the following megacorps.</p>
  <ol>
    <li>Alliansen</li>
    <li>Gravf/Mellberg/Tosk</li>
    <li>Tulles & deVerte</li>
  </ol>

  <h3>Ports</h3>
  <h4>Zone A1</h4>
  <p>Sea, air, and space ports. There is no escape from the city, but the ports offer an illusion of the possibility.</p>
  <p>A labyrinthine universe of steel, concrete, and abandoned warehouses.</p>
  <p>Home of the black market of imports from what's left of the rest of the world. Bribed SecCorps allow the black market to continue.</p>
  <p>The place to find drugs, guns, clubs, and fun. The entertainment district for Cy's true citizens.</p>
  <p>Corps, mobs, VIP-celebs and gangs vie for dominance. The gunfire is drowned out by the hedonism.</p>

  <h4>Zone A2</h4>
  <p>Royal West Shipping has its most well-guarded warehouses here. It is the largest and most dominant corporation here. No one challenges them, at least here.</p>
  <p>Rock-star themed pop-up hotels of Idol Coffins appear sometimes, always next to the hottest new club.</p>
  <p>Rumors say there's a salmon-painted door with two ultra-chromed out giant guards that lead to a restaurant so exclusive that even "the Guide" can't get a table.</p>

  <h4>Zone A3</h4>
  <p>Closed. Very mysterious.</p>

  <h3>G0 (Ground Zero)</h3>
  <p>Where the "Rock" (a meteor, presumably) fell and the bombs dropped. Why exactly bombs were dropped is unclear. Let's say there were material threats coming from the meteor that had to be dealt with. An outbreak of nanophreaks perhaps?</p>
  <p>Right in the middle of Cy.</p>
  <p>A post-apocalyptic, irradiated quagmire kept in quarantine by walls, auto-turrets, and armed guards.</p>
  <p>Entry without the proper protection is a death sentence.</p>
  <div>
    <p>Home to the following.</p>
    <ul>
      <li>Murderous nanophreaks</li>
      <li>Pockets of nerve gas and radioactive space dust</li>
      <li>Scrapheads looking for antique junk</li>
      <li>Smugglers running goods</li>
      <li>Cultists seeking profane truths</li>
      <li>Scientists looking to profiteer from the fallout</li>
      <li>Whatever makes "that noise" at night</li>
      <li>...and many other non-human entities</li>
    </ul>
  </div>
  <p>Contains some of the ancient, medieval parts of Cy that still stand (most likely references to Mork Borg).</p>
  <p>One of the bulwark doors leads to the underground killclub and music venue My Wall. Secret societies like the Terpischore Sisters frequent it and use it as a forward base for their enclave deep beneath Old Cy.</p>
  <p>Anything near G0 (the slums mostly) bears visible scars from the Incident (probably the meteor falling), from buildings to the people. Scorch marks, psychic shock, and something sinister and perhaps sentient.</p>

  <h3>Industrial Zones</h3>
  <p>Nightmarish, gargantuan sectors overflowing with poison and peril.</p>
  <p>Contains the factories and overtaxed power plants feeding Cy.</p>
  <p>Overworked and underpaid labor are herded like cattle to toil until they break.</p>
  <p>The steel isle of Mosscroft reigns foulest of them all. A toxic hellscape rivaling Central in size.</p>
  <p>Sickening smog is especially thick in west Mosscroft, fed by Kaytell Maker's chemical textile plant and the ACGS weapons factory.</p>
  <p>The stench is unbearable in the south where fish and other biomass is processed by AST in edible and non-edible products.</p>

  <h3>Slums</h3>
  <p>Gangs, cults, militias, all trying to build their own armies and kingdoms and fighting each other for dominance.</p>
  <p>Slums closest to G-Zero most affected by G-Zero event. Some scars are more sinister. Sentient.</p>
  <p>Violence, drugs, and destruction determine who's currently in control.</p>
  <p>Some honest but broken people, dreaming of a different future.</p>
  <p>Underground shadowmarkets for food, fuel, stolen military hardware, hole-in-the-wall no-questions-asked reaperdocs who may or may not steal your organs.</p>
  <p>The Bigmosse slum has the worst of the fighting between the Virid Vipers (major drug dealers) and the Heirs of Kergoz (nanophreak cultist) gangs.</p>
  <p>The Barnyard Fields slum is the turf of the Heirs of Kergoz and its inhabitants pay them tribute. Here they run their black sacraments and Nanomatic blood rites in the name of the two-headed alien daemon they worship. Lots of bloody ground. Next to G-Zero.</p>
  <p>The Laketon slum is also next to G-Zero. Its walls are sodden with rot. The slurry seeping in from G-Zero causes constant nanomold outbreaks in the water.</p>
  <p>The Lilypond slum is very insular. Borders are secured by armed citizen vigilante groups who enforcing their own idea of peace.</p>

  <h3>The Hills</h3>
  <p>Mega-rich neighborhoods that are home to the immortal OG-money aristocrats and all their frivolous splendor.</p>
  <p>Consists of fansions, fortress-like villas, and private parks that are locked behind gates upon gates.</p>
  <p>Entirely covered by next-level surveillance to ensure that anyone unfamiliar or uninvited is discretely and brutally removed by the best SecOps that money can buy.</p>
  <div>
    <p>Galgbacken (a reference to Mork Borg's Galgenback, the "greatest city that ever was") is an old-money neighborhood and home to the following influential people.</p>
    <ol>
      <li>Mr. O.B.P. Gunner, CEO of UCS (United Citadel Security).</li>
      <li>Mrs. Lia. president of the Alliansen Inc. board.</li>
      <li>Dr. Daevy, lead researcher of TG Labs.</li>
    </ol>
  </div>
  <p>Several new strange, occult-looking buildings on Oak Isles were recently built. No public records exist on ownership or purpose. They loom malevolently in the skyline.</p>

  <h3>The Inbetweens</h3>
  <p>Where the salaryfolk and cubicle zombies live in endless rows of bland tenement slabs. It may be more accurate to think of them as "stored here" rather than "live here". They are advertised to at every waking moment.</p>
  <p>There is no marking on the map for the Inbetweens. I'm assuming it iterally refers to the pockets of space between the specific zone types (slums, the Hills, industrial zones, and anywhere else that has a proper name).</p>
  <div>
    <p>Named Inbetween areas</p>
    <ol>
      <li><strong>Burnchurch Hex:</strong> Currently surging with pop-up food stalls selling illegal mycobiotic meat grown underwater in G-Zero.</li>
      <li><strong>Svarta:</strong> Recently the epicenter of cyberbike hype. The hype ended when rival roadrunner clans bombed most of the area fighting the locals.</li>
      <li><strong>Borghold:</strong> Cy's main prison complex. The prison sits on island which is inhabited by locals living in small villas or multi-family houses. The locals are suspicious of any outsiders as their main exposure to the rest of Cy is through its prison population held in Borghold.</li>
    </ol>
  </div>

  <h3>Beyond the City</h3>
  <p>Fields upon electrified fields for automated agricultural machines the size of cathedrals.</p>
  <p>All natural landscape was fracked, churned, boiled, and caged long ago. The few forests that remain are dominated by buzzing clearcutter drone armies. The city devours all it sees.</p>
  <p>Tomb towns (wreckage of cities from previous mega-urbanization waves) exist here and there. They are used by roadrunner clans as shelter from pollution, radiation, twisted wildlife, extreme weather, and other, more unexplainable phenomena.</p>
</div>
