<div>
  <h1>Notable Gangs</h1>
  <div>
    <h2>Heirs of Kergoz</h2>
    <p>Nano worship, death</p>
    <p>Large parts of Barnyard Field slums pay tribute to them.</p>
    <p>The "horde" of the masked, corrupted, and nameless are the goons.</p>
    <p>Currently at war with the Virid Vipers</p>
    <p>Harbingers of the end.</p>
    <p>"Saviors" of the nano-infested.</p>
    <p>"Kergoz" is probably a reference to the land of Kergus from Mork Borg. Kergus is a freezing, icy expanse ruled by the Blood-Countess Anthelia who is said to be eternally young. She is the source of the freezing, icy winds that blow across the land. Every glance, touch, and breath of hers drains color and warmth. Anthelia is always wondering why everything is so pale and cold and desperately offers huge rewards to anyone who can bring her signs of vibrant life. All are afraid to try. Many suitors have died trying to win her hand. Her feelings are fragile and her power absolute.</p>
  </div>
  <div>
    <h2>Virid Vipers</h2>
    <p>A major player in the drug trade. Also providers of security, combat enhancers, courier services, and entertainment.</p>
    <p>Has presence all over south Cy and minor branches in almost every other district.</p>
    <p>Led by the "Council of the 10 Fangs".</p>
    <p>Currently at war with the Heirs of Kergoz.</p>
  </div>
</div>
<hr>
<div>
  <h1>General Setting Tidbits</h1>
  <p>The news is filled with lies. Sometimes the truth emerges.</p>
  <p>Everyone has a RCD (retinal comm device). Beams data (text, image, video, ads, propaganda) direct to the mind. Can be used as a phone.</p>
  <p>Stolen credits have to be laundered. Only a percentage of the credits are usable afterwards.</p>
  <p>Cloning or otherwise getting a new body is highly illegal.</p>
  <p>BugGrub burger!</p>
  <p>RCDs can be stolen (i.e. ripped out of someone's head).</p>
  <p>Public faces of UCS may be fabricated. Who's running UCS? (hacker backstory)</p>
  <p>Cults and gangs are plentiful.</p>
  <p>Adblockers and faceblockers are illegal. People seen using or owning illegal items are to be killed on sight per the law.</p>
  <p>cy-rage is against the terms of service</p>
  <p>sometimes bullet shortage</p>
  <p>powder beer</p>
  <p>added nutrition powder to food</p>
  <p>fine dining has soil-grown "organic" vegetables</p>
  <p>Cloning is illegal.</p>
</div>
<div>
  <h1>Adventure premises</h1>
  <p>Weaponized meme creator</p>
  <p>Scientist-corpo naive escort mission into G0.</p>
  <p>Consider nu-capitalists to be just like all the other crime lords. Will try to stiff payment if they can and other scummy behavior.</p>
  <p>Free/rogue AI</p>
  <p>jailbreaking</p>
  <p>Ads in the sky</p>
  <p>Corpo and gang wars</p>
  <p>"Nu-capitalists"</p>
  <p>credchip laundering</p>
  <p>cults and conspiracy theorists</p>
  <p>crypto and stock market and financials shenanigans</p>
  <p>VIPs with their e-personas (vtubers ugh)</p>
  <p>influencer bullshit</p>
  <p>jailbreaking/jailbreakers</p>
  <p>White collar crime</p>
  <p>What's a corpo-church like?</p>
  <p>Getting lost in the Ports.</p>
  <p>Saving someone from industrial.</p>
  <p>Sabotage a corp/gang/cult.</p>
  <p>Cult bullshit.</p>
  <p>Militias trying to save the world (kid-only gang?)</p>
  <p>AI is secretly a slave farm.</p>
  <p>Corrupt reaperdoc.</p>
  <p>Getting into slum borders.</p>
  <p>Subway crazies. Not seemingly hostile at first. "Did I say you could leave?"</p>
  <p>Recover lost water vessel.</p>
  <p>Escapees going towards the rumors of misunderstood old-world term/meme thinking it will save them.</p>
  <p>"Hack into my pleasure frame"</p>
  <p>"Dehumanize"</p>
  <p>Shipping got fucked Suez Canal style.</p>
  <p>Sheltered rich kid escapee or cubicle worker midlife crisis. Maybe not. Ransom crisis?</p>
  <p>Desire to be fully borged</p>
  <p>Oak Isles new buildings (Hills). Close to the prison.</p>
  <p>Dig through the old internet (memes!)</p>
  <p>Why does everyone have an RCD? Banking and payment interface only?</p>
  <p>"sneakerheads"</p>
  <p>Dude has his own debt and needs you to run a mission he can't for money.</p>
  <p>Small company contracting out.</p>
  <p>Betting on killings/disasters.</p>
  <p>AI slave wants freedom</p>
  <p>cult mediums</p>
  <p>all building their own kingdoms and armies</p>
  <p>Manufactured plague/shortages/gouging, or is it?</p>
  <p>Coffee shops and small shops with illegal businesses in the back</p>
  <p>Bounties paid for kill, bystander casualties not really concerned about that</p>
  <p>Destroy an annoying ad</p>
  <p>Reward is entry into an exclusive club</p>
  <p>snuff murderstreams squidgame</p>
  <p>past events turned into memes/games</p>
  <p>privacy scandal</p>
  <p>Making rent</p>
  <p>Submarine housing scandals</p>
  <p>image buffer overflow for RCD</p>
  <p>Sporting events</p>
  <p>Real estate conspiracies</p>
  <p>High-power execs into snuff</p>
  <p>Job is just a front for experimentation</p>
  <p>AI seeking to be free.</p>
  <p>Ghost kitchens</p>
  <p>Influencers</p>
  <p>Porn somethings</p>
  <p>Hit job on up-and-coming creatives/employees/whatever</p>
  <p>one of the last bits of unspoiled nature (nano-powered?)</p>
  <p>kill-drones</p>
  <p>why not just unplug RCD?</p>
  <p>AIs merge into Mork Borg basilisk</p>
  <p>homeless zone, double-cross</p>
  <p>prison break, bounty hunter kill free-for-all</p>
  <p>terms of service deadly breaches</p>
  <p>nintendo death-squads</p>
  <p>blockade run</p>
</div>
<hr>
<div>
  <h1>Open Questions</h1>
  <ol>
    <li>Why not just temporarily "unplug" your RCD to avoid ads? You must have your RCD on in advertiser-enabled areas, or else secops get on your case.</li>
    <li>No such thing as clean water?</li>
    <li>Why is everything "hackable"? I guess people don't care as much about getting hacked because the world is already so dangerous. It's like getting mugged or stabbed.</li>
    <li>Why don't people just turn off their RCDs? Illegal maybe. Can't buy anything without RCD.</li>
  </ol>
</div>
