<div>
  <h1>TODO</h1>
  <ol>
    <li>
      <p>Dating</p>
      <ol>
        <li>Find therapist (https://www.psychologytoday.com/us/therapists)</li>
      </ol>
    </li>
    <li>Drawing</li>
    <li>Guitar</li>
    <li>
      <p>3D printing</p>
      <ol>
        <li>Basket hooks</li>
      </ol>
    </li>
    <li>Cyberpunk Red reading</li>
    <li>Books from mom</li>
    <li>
      <p>Software research</p>
      <ol>
        <li>AWS</li>
        <li>Angular (including Udemy course)</li>
        <li>...</li>
      </ol>
    </li>
    <li>
      <p>Games/anime/movies. Media in general really</p>
      <ol>
        <li>Tekken 8</li>
        <li>The Coffin of Andy and Leyley</li>
      </ol>
    </li>
    <li>(SIMPLE) game development</li>
    <li>Warhammer 40k</li>
    <li>Adding to this wiki</li>
    <li>
      <p>Archival</p>
      <ol>
        <li>Implement first-level culling</li>
      </ol>
    </li>
    <li>Woodworking</li>
    <li>Gardening</li>
    <li>Stocks</li>
    <li>Hardtack recipe</li>
    <li>Ammonium Chloride personal cooling device</li>

    <li><a routerLink="/writing-topics">Writing topics</a></li>
    <li>Escape plan</li>
    <li>Journaling</li>
    <li>Upgrade Fedora</li>
  </ol>
</div>
<hr>
<div>
  <h1>Weekly Schedule (ideally)</h1>
  <table>
    <tr>
      <td rowspan="10">Monday</td>
    </tr>
    <tr>
      <td>7:00am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:00am - 8:30am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:30am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Job</td>
    </tr>
    <tr>
      <td>5:00pm - 6:30pm</td>
      <td>Lift</td>
    </tr>
    <tr>
      <td>6:30pm - 7:30pm</td>
      <td>Dinner + break</td>
    </tr>
    <tr>
      <td>7:30pm - 8:00pm</td>
      <td>Guitar</td>
    </tr>
    <tr>
      <td>8:00pm - 9:00pm</td>
      <td>Find candidate therapists</td>
    </tr>
    <tr>
      <td>9:00pm - 11:00pm</td>
      <td>Free</td>
    </tr>

    <tr>
      <td rowspan="11">Tuesday</td>
    </tr>
    <tr>
      <td>7:00am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:00am - 8:30am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:30am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Job</td>
    </tr>
    <tr>
      <td>5:00pm - 5:30pm</td>
      <td>Guitar</td>
    </tr>
    <tr>
      <td>5:30pm - 6:00pm</td>
      <td>Read books from mom (art of war)</td>
    </tr>
    <tr>
      <td>6:00pm - 8:00pm</td>
      <td>Boxing</td>
    </tr>
    <tr>
      <td>8:00pm - 8:30pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>8:30pm - 9:30pm</td>
      <td>Collect and send tax documents to dad</td>
    </tr>
    <tr>
      <td>9:30pm - 11:00pm</td>
      <td>Free</td>
    </tr>

    <tr>
      <td rowspan="6">Wednesday</td>
    </tr>
    <tr>
      <td>7:00am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:00am - 8:30am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:30am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Job</td>
    </tr>
    <tr>
      <td>5:00pm - *</td>
      <td>Bar thing for TTRPG group</td>
    </tr>

    <tr>
      <td rowspan="14">Thursday</td>
    </tr>
    <tr>
      <td>7:00am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:00am - 8:30am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:30am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 12:00pm</td>
      <td>Woodworking</td>
    </tr>
    <tr>
      <td>12:00pm - 1:00pm</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td>1:00pm - 2:00pm</td>
      <td>Books from mom</td>
    </tr>
    <tr>
      <td>2:00pm - 3:00pm</td>
      <td>Guitar</td>
    </tr>
    <tr>
      <td>3:00pm - 5:00pm</td>
      <td>Upgrade Fedora</td>
    </tr>
    <tr>
      <td>5:00pm - 7:00pm</td>
      <td>Miramar Lake</td>
    </tr>
    <tr>
      <td>7:00pm - 7:30pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>7:30pm - 8:30pm</td>
      <td>Cyberpunk Red</td>
    </tr>
    <tr>
      <td>8:30pm - 9:30pm</td>
      <td>Archival work</td>
    </tr>
    <tr>
      <td>9:30pm - 11:00pm</td>
      <td>Free</td>
    </tr>

    <tr>
      <td rowspan="14">Friday</td>
    </tr>
    <tr>
      <td>7:00am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:00am - 8:30am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:30am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 12:00pm</td>
      <td>Woodworking</td>
    </tr>
    <tr>
      <td>12:00pm - 1:00pm</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td>1:00pm - 2:00pm</td>
      <td>Books from mom</td>
    </tr>
    <tr>
      <td>2:00pm - 3:00pm</td>
      <td>Guitar</td>
    </tr>
    <tr>
      <td>3:00pm - 5:00pm</td>
      <td>Archival work</td>
    </tr>
    <tr>
      <td>5:00pm - 6:30pm</td>
      <td>Lift</td>
    </tr>
    <tr>
      <td>6:30pm - 7:00pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>7:00pm - 8:00pm</td>
      <td>Cyberpunk Red</td>
    </tr>
    <tr>
      <td>8:00pm - 9:00pm</td>
      <td>Write about Tekken 7</td>
    </tr>
    <tr>
      <td>9:00pm - 11:00pm</td>
      <td>Free</td>
    </tr>

    <tr>
      <td rowspan="11">Saturday</td>
    </tr>
    <tr>
      <td>7:00am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:00am - 7:30am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>7:30am - 8:00am</td>
      <td>Guitar</td>
    </tr>
    <tr>
      <td>8:00am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Hanging out</td>
    </tr>
    <tr>
      <td>5:00pm - 6:00pm</td>
      <td>Warhammer 40k site</td>
    </tr>
    <tr>
      <td>6:00pm - 6:30pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>6:30pm - 8:00pm</td>
      <td>Tekken 8 practice</td>
    </tr>
    <tr>
      <td>8:00pm - 9:00pm</td>
      <td>Coffin of Andy and Leyley</td>
    </tr>
    <tr>
      <td>9:00pm - 11:00pm</td>
      <td>Free</td>
    </tr>

    <tr>
      <td rowspan="14">Sunday</td>
    </tr>
    <tr>
      <td>7:00am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:00am - 8:30am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:30am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 12:00pm</td>
      <td>Woodworking</td>
    </tr>
    <tr>
      <td>12:00pm - 12:30pm</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td>12:30pm - 1:30pm</td>
      <td>Guitar</td>
    </tr>
    <tr>
      <td>1:30pm - 2:30pm</td>
      <td>Restaurant writing</td>
    </tr>
    <tr>
      <td>2:30pm - 3:30pm</td>
      <td>Lift</td>
    </tr>
    <tr>
      <td>3:30pm - 6:00pm</td>
      <td>Cyberpunk Red</td>
    </tr>
    <tr>
      <td>6:00pm - 6:30pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>6:30pm - 8:00pm</td>
      <td>Angular notes</td>
    </tr>
    <tr>
      <td>8:00pm - 9:00pm</td>
      <td>Scheduling</td>
    </tr>
    <tr>
      <td>9:00pm - 11:00pm</td>
      <td>Free</td>
    </tr>
  </table>
</div>
