<div>
  <h1>TODO</h1>
  <ol>
    <li>
      <p>Dating</p>
      <ol>
        <li>Find therapist (https://www.psychologytoday.com/us/therapists)</li>
      </ol>
    </li>
    <li>Drawing</li>
    <li>Guitar</li>
    <li>
      <p>Check potential Farmer's Insurance savings with Slalom discount</p>
      <p>Call (844) 900-2453 and mention code E3E</p>
      <p>Currently you pay $1360/year for car insurance</p>
    </li>
    <li>
      <p>3D printing</p>
      <ol>
        <li>Basket hooks</li>
      </ol>
    </li>
    <li>CBR+PNK reading and notes</li>
    <li>Clean hay from trunk</li>
    <li>Organize car</li>
    <li>Cyberpunk Red reading</li>
    <li>Books from mom</li>
    <li>
      <p>Software research</p>
      <ol>
        <li>
          <p>AWS</p>
          <ol>
            <li><code>aws configure sso</code> setup</li>
          </ol>
        </li>
        <li>Angular (including Udemy course)</li>
        <li>...</li>
      </ol>
    </li>
    <li>
      <p>Games/anime/movies. Media in general really</p>
      <ol>
        <li>Darkest Dungeon</li>
        <li>Tekken 8</li>
        <li>The Coffin of Andy and Leyley</li>
      </ol>
    </li>
    <li>(SIMPLE) game development</li>
    <li>Warhammer 40k</li>
    <li>
      <p>Adding to this wiki</p>
      <ol>
        <li>Add Cognito auth for hidden paths</li>
      </ol>
    </li>
    <li>
      <p>Archival</p>
      <ol>
        <li>Implement first-level culling</li>
      </ol>
    </li>
    <li>Woodworking</li>
    <li>Gardening</li>
    <li>Stocks</li>
    <li>Hardtack recipe</li>
    <li>Ammonium Chloride personal cooling device</li>
    <li><a routerLink="/writing-topics">Writing topics</a></li>
    <li>Escape plan</li>
    <li>Journaling</li>
    <li>Upgrade Fedora</li>
  </ol>
</div>
<hr>
<div>
  <h1>Weekly Schedule (ideally)</h1>
  <table>
    <tr>
      <td rowspan="8">Monday</td>
    </tr>
    <tr>
      <td>7:00am - 7:15am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:15am - 8:15am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:15am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Job</td>
    </tr>
    <tr>
      <td>5:00pm - 7:00pm</td>
      <td>Lift</td>
    </tr>
    <tr>
      <td>7:00pm - 7:30pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>7:30pm - 11:00pm</td>
      <td></td>
    </tr>

    <tr>
      <td rowspan="9">Tuesday</td>
    </tr>
    <tr>
      <td>7:00am - 7:15am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:15am - 8:15am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:15am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Job</td>
    </tr>
    <tr>
      <td>5:00pm - 6:00pm</td>
      <td>Read Art of War</td>
    </tr>
    <tr>
      <td>6:00pm - 8:00pm</td>
      <td>Boxing</td>
    </tr>
    <tr>
      <td>8:00pm - 8:30pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>8:30pm - 11:00pm</td>
      <td></td>
    </tr>

    <tr>
      <td rowspan="6">Wednesday</td>
    </tr>
    <tr>
      <td>7:00am - 7:15am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:15am - 8:15am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:15am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Job</td>
    </tr>
    <tr>
      <td>5:00pm - 11:00pm</td>
      <td></td>
    </tr>

    <tr>
      <td rowspan="8">Thursday</td>
    </tr>
    <tr>
      <td>7:00am - 7:15am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:15am - 8:15am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:15am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Work</td>
    </tr>
    <tr>
      <td>5:00pm - 7:30pm</td>
      <td>Miramar Lake</td>
    </tr>
    <tr>
      <td>7:30pm - 8:00pmpm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>8:00pm - 11:00pm</td>
      <td></td>
    </tr>

    <tr>
      <td rowspan="6">Friday</td>
    </tr>
    <tr>
      <td>7:00am - 7:15am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:15am - 8:15am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:15am - 9:00am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>9:00am - 5:00pm</td>
      <td>Work</td>
    </tr>
    <tr>
      <td>5:00pm - 11:00pm</td>
      <td></td>
    </tr>

    <tr>
      <td rowspan="8">Saturday</td>
    </tr>
    <tr>
      <td>7:00am - 7:15am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:15am - 7:45am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>7:45am - 8:15am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:15am - 8:45am</td>
      <td>Guitar</td>
    </tr>
    <tr>
      <td>8:45:am - 5:00pm</td>
      <td>Hang out</td>
    </tr>
    <tr>
      <td>5:00pm - 5:30pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>5:30pm - 11:00pm</td>
      <td></td>
    </tr>

    <tr>
      <td rowspan="8">Sunday</td>
    </tr>
    <tr>
      <td>7:00am - 7:15am</td>
      <td>Wake up</td>
    </tr>
    <tr>
      <td>7:15am - 7:45am</td>
      <td>Shower, etc.</td>
    </tr>
    <tr>
      <td>7:45am - 8:15am</td>
      <td>Draw</td>
    </tr>
    <tr>
      <td>8:15am - 8:45am</td>
      <td>Guitar</td>
    </tr>
    <tr>
      <td>8:45am - 12:00pm</td>
      <td>Woodworking</td>
    </tr>
    <tr>
      <td>12:00pm - 12:30pm</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td>12:30pm - 11:00pm</td>
      <td></td>
    </tr>
  </table>
</div>
