<div>
  <h1>TODO</h1>
  <p>In no particular order...</p>
  <ol>
    <li>Cyberpunk Red reading</li>
    <li>Books from mom</li>
    <li>
      <p>Software research</p>
      <ol>
        <li>AWS</li>
        <li>...</li>
      </ol>
    </li>
    <li>
      <p>Games/anime/movies. Media in general really</p>
      <ol>
        <li>Tekken 8</li>
        <li>The Coffin of Andy and Leyley</li>
      </ol>
    </li>
    <li>(SIMPLE) game development</li>
    <li>Therapist?</li>
    <li>Warhammer 40k</li>
    <li>Dating</li>
    <li>Adding to the wiki</li>
    <li>Archival</li>
    <li>Drawing</li>
    <li>Guitar</li>
    <li>Woodworking</li>
    <li>Gardening</li>
    <li>Stocks</li>
    <li>Hardtack recipe</li>
    <li>Ammonium Chloride personal cooling device</li>
    <li>3D printing</li>
    <li>Blog topics</li>
  </ol>
</div>
<hr>
