<div>
  <h1>The Net</h1>
  <p>A consensual semi-hallucination continuously experienced by almost everyone. An amalgamation of AR, VR, old internet, and cyberspace.</p>
  <p>I interpret the Net as an omnipresent "field" that permeates the physical world. Something totally different from the internet today. Kind of like how the Force from Star Wars was described by Yoda (it surrounds, penetrates, and binds us). Going without an RCD would mean forgoing AR, which I'll assume is how maps, signs, and everything works. Looking at the world without it is very different. You don't see what everyone else sees. I'll assume RCDs also work as your payment, ID, and comms method. I'll also assume without an RCD, you feel physically disoriented/sick because of the Net's presence without an RCD.</p>
  <p>I'll also assume there's basically no way to turn the Net "off" once it has been created.</p>
  <p>Omnipresent. Impossible to map or escape, which must mean that it's basically a necessity to interface with the Net in some way to live a normal life.</p>
  <p>The Net is always trying to advertise to you, scare you, and otherwise hack your behavior.</p>
  <p>Consumer access zones can be accessed with an RCD which everyone has.</p>
  <p>Anything deeper requires a cyberdeck and mental resilience to brave the unthinkable complexity. There may be AI/gods/demons/aliens and things science cannot explain lurking deep in the Net.</p>
  <p>Using the Net to affect the real world will require using an "app", or must happen during downtime.</p>
</div>
