<div>
  <h1>The Net</h1>
  <p>A consensual semi-hallucination continuously experienced by almost everyone. An amalgamation of AR, VR, old internet, and cyberspace. The Net is omnipresent and impossible to map or escape, which I assume to mean that it's necessary interface with the Net regularly in some way to live a normal life. The Net is always trying to advertise to you, scare you, and otherwise hack your behavior.</p>
  <p>Consumer access zones can be accessed with an RCD which everyone has. Anything deeper requires a cyberdeck and mental resilience to brave the unthinkable complexity. There may be AI/gods/demons/aliens and things science cannot explain lurking deep in the Net.</p>
  <p>Using the Net to affect the real world will require using an "app", or must happen during downtime.</p>
  <p>I interpret the Net as an omnipresent "field" that permeates the physical world. Something totally different from the internet today. Kind of like how the Force from Star Wars was described by Yoda (it surrounds, penetrates, and binds us). Going without an RCD would mean forgoing AR, which I'll assume is how maps, signs, and everything works. Looking at the world without it is very different. You don't see what everyone else sees. I'll assume RCDs also work as your payment, ID, and comms method. I'll also assume without an RCD, you feel physically disoriented/sick because of the Net's presence without an RCD.</p>
  <p>I'll also assume the physical world was permanently altered with the invention of the Net and there is no way to turn it "off".</p>
</div>
<hr>
<div>
  <h1>Notable Gangs</h1>
  <div>
    <h2>Heirs of Kergoz</h2>
    <p>Nano worship, death</p>
    <p>Large parts of Barnyard Field slums pay tribute to them.</p>
    <p>The "horde" of the masked, corrupted, and nameless are the goons.</p>
    <p>Currently at war with the Virid Vipers</p>
    <p>Harbingers of the end.</p>
    <p>"Saviors" of the nano-infested.</p>
    <p>"Kergoz" is probably a reference to the land of Kergus from Mork Borg. Kergus is a freezing, icy expanse ruled by the Blood-Countess Anthelia who is said to be eternally young. She is the source of the freezing, icy winds that blow across the land. Every glance, touch, and breath of hers drains color and warmth. Anthelia is always wondering why everything is so pale and cold and desperately offers huge rewards to anyone who can bring her signs of vibrant life. All are afraid to try. Many suitors have died trying to win her hand. Her feelings are fragile and her power absolute.</p>
  </div>
  <div>
    <h2>Virid Vipers</h2>
    <p>A major player in the drug trade. Also providers of security, combat enhancers, courier services, and entertainment.</p>
    <p>Has presence all over south Cy and minor branches in almost every other district.</p>
    <p>Led by the "Council of the 10 Fangs".</p>
    <p>Currently at war with the Heirs of Kergoz.</p>
  </div>
</div>
