<div>
  <h1>The Net</h1>
  <p>A consensual semi-hallucination continuously experienced by almost everyone. An amalgamation of AR, VR, old internet, and cyberspace. The Net is omnipresent and impossible to map or escape, which I assume to mean that it's necessary interface with the Net regularly in some way to live a normal life. The Net is always trying to advertise to you, scare you, and otherwise hack your behavior.</p>
  <p>Consumer access zones can be accessed with an RCD which everyone has. Anything deeper requires a cyberdeck and mental resilience to brave the unthinkable complexity. There may be AI/gods/demons/aliens and things science cannot explain lurking deep in the Net.</p>
  <p>Using the Net to affect the real world will require using an "app", or must happen during downtime.</p>
  <p>I interpret the Net as an omnipresent "field" that permeates the physical world. Something totally different from the internet today. Kind of like how the Force from Star Wars was described by Yoda (it surrounds, penetrates, and binds us). Going without an RCD would mean forgoing AR, which I'll assume is how maps, signs, and everything works. Looking at the world without it is very different. You don't see what everyone else sees. I'll assume RCDs also work as your payment, ID, and comms method. I'll also assume without an RCD, you feel physically disoriented/sick because of the Net's presence without an RCD.</p>
  <p>I'll also assume the physical world was permanently altered with the invention of the Net and there is no way to turn it "off".</p>
</div>
<hr>
<div>
  <h1>Notable Gangs</h1>
  <div>
    <h2 id="heirs-of-kergoz">Heirs of Kergoz</h2>
    <p>Nano worship, death</p>
    <p>Large parts of Barnyard Field slums pay tribute to them.</p>
    <p>The "horde" of the masked, corrupted, and nameless are the goons.</p>
    <p>Currently at war with the Virid Vipers</p>
    <p>Harbingers of the end.</p>
    <p>"Saviors" of the nano-infested.</p>
    <p>"Kergoz" is probably a reference to the land of Kergus from Mork Borg. Kergus is a freezing, icy expanse ruled by the Blood-Countess Anthelia who is said to be eternally young. She is the source of the freezing, icy winds that blow across the land. Every glance, touch, and breath of hers drains color and warmth. Anthelia is always wondering why everything is so pale and cold and desperately offers huge rewards to anyone who can bring her signs of vibrant life. All are afraid to try. Many suitors have died trying to win her hand. Her feelings are fragile and her power absolute.</p>
  </div>
  <div>
    <h2>Virid Vipers</h2>
    <p>A major player in the drug trade. Also providers of security, combat enhancers, courier services, and entertainment.</p>
    <p>Has presence all over south Cy and minor branches in almost every other district.</p>
    <p>Led by the "Council of the 10 Fangs".</p>
    <p>Currently at war with the <a routerLink="./" (click)="scrollToId('heirs-of-kergoz')">Heirs of Kergoz</a>.</p>
  </div>
</div>
<hr>
<div>
  <h1>MegaCorps</h1>

  <h2>ACGS</h2>
  <p>Uniquely, ACGS controls most of the automated vehicles in Cy (taxis and such).</p>
  <div>
    <p>Sectors</p>
    <ul>
      <li>AI</li>
      <li>Weapontech</li>
      <li>Bio/medtech</li>
      <li>Insurance</li>
      <li>Health services</li>
      <li>Vehicles</li>
      <li>Security</li>
      <li>Food production</li>
      <li>Nano research</li>
    </ul>
  </div>
  <p>Has decentralized offices all around Central and the industrial zones.</p>
  <p>Has a Mosscroft weapons factory.</p>
  <div>
    <p>Key individuals</p>
    <ol>
      <li>A. Gustafsson (member of the board)</li>
      <li>The Hermit (first-ever "true" AI)</li>
      <li>Chariot (controls most of the automated vehicles in Cy)</li>
    </ol>
  </div>

  <h2>Alliansen Inc.</h2>
  <p>Leases infrastructure to just about half of Cy's SecOps.</p>
  <p>Controls most of the Borghold prison complex island.</p>
  <p>Currently at war with UCS.</p>
  <div>
    <p>Sectors</p>
    <ul>
      <li>Real estate</li>
      <li>Security</li>
      <li>Entertainment</li>
      <li>Behavioral analytics</li>
      <li>Voting</li>
      <li>Research</li>
      <li>Sports</li>
      <li>Financial services</li>
      <li>Staffing</li>
      <li>AI</li>
      <li>Communication</li>
      <li>Cybertech</li>
    </ul>
  </div>
  <div>
    <p>Key individuals</p>
    <ol>
      <li>Mrs. Lia (president of the board)</li>
      <li>Jaci F. Ah (head of security operations)</li>
    </ol>
  </div>

  <h2>AST</h2>
  <p>"Endless seas"</p>
  <div>
    <p>Sectors</p>
    <ul>
      <li>Fish/algae products</li>
      <li>Restaurants</li>
      <li>Lobbying</li>
      <li>Water shares</li>
      <li>Education</li>
      <li>Childcare</li>
      <li>Submarine construction</li>
      <li>Cloning (highly illegal)</li>
    </ul>
  </div>
  <p>Gigantic (and smelly) processing plant and aquaculture farms in south Mosscroft. Stench is unbearable.</p>
  <p>Leading the Undersjon project.</p>
  <p>Dealing with the rising competitor Cynergy Water & Power Co.</p>
  <div>
    <p>Key individuals</p>
    <ul>
      <li>Lakshmi Viswan (product manager for submarine housing)</li>
    </ul>
  </div>

  <h2>Cynergy Water & Power Co.</h2>
  <p>A megacorp posing as public infrastructure. "A parasite among predators".</p>
  <p>Headquarters is in "The Floating Hive" in North Central.</p>
  <div>
    <p>Sectors</p>
    <ul>
      <li>Facilities</li>
      <li>Infrastructure</li>
      <li>Transportation</li>
      <li>Real estate</li>
      <li>Sports</li>
      <li>Food</li>
      <li>Entertainment</li>
      <li>Communication</li>
    </ul>
  </div>
  <div>
    <p>Key individuals</p>
    <ul>
      <li>Dane Azar (COO)</li>
      <li>Zane #13 (star forward of the CyBorgs)</li>
    </ul>
  </div>

  <h2>Spectral FT Banks & Holdings</h2>
  <p>HQ in the Neon Pillar (North Central)</p>
  <p>Gathering resources and lobbyists focusing on medtech</p>
  <div>
    <p>Sectors</p>
    <ul>
      <li>Financial services</li>
      <li>Real estate</li>
      <li>Infrastructure</li>
      <li>Entertainment</li>
      <li>Retail</li>
    </ul>
  </div>
  <div>
    <p>Key individuals</p>
    <ul>
      <li>Dr. Thaba Samson (CFO)</li>
      <li>Ms. L.H. Ergene (archangel investor)</li>
    </ul>
  </div>


### Fideistic Transformation
Subsidiary of Spectral FT Banks & Holdings.

Sectors
* Religion
* Cerebral interfaces
* Egotech
* Medtech
* Drugs

Megatemple in the Neon PIllar

Selva Ergene (hiero-confessor)

Warad-Ishtar (protomartyr)

Members make up an inordinate number of Cy-rage victims.

Promises its followers immortality via mind-upload to a divine mind-cloud. Their success is questionable given that ego continuance is still unprovable.

# Grave/Mellberg/Tosk
Mobster law firm

"No paying clients of ours ever go to Borghold"

Sectors
* Law
* Risk management
* Security
* Credit
* Real estate
* Marketing
* Financial services
* Nightclubs
* Restaurants
* Luxury wares

HQ in "Golden Spire" (south central)

3 members of each founding family make up the board. Younger members make up all the top-layer exec positions.

# Kaytell Makers
Sectors
* Materials
* Production
* Construction
* Bio/cybertech
* Retail
* Entertainment
* Fashion

Several large factories in Mosscroft (chemical textile plants)

Large farms outside of Cy.

Mr. Kaytell (founder and CEO). Rumored has been running the corp for 150 years.

Rumor that true HQ has moved to orbit.

# Royal West Shipping Co.
Sectors
* Logistics
* Storage
* Retail
* Infrastructure
* Travel
* Vehicles
* Sports

HQ and warehouses in Ports, large presence in all 3 ports (space, air, water). Biggest and most well-guarded warehouses in A2. No one dares challenge them there.

Sri Alraune, CEO

The AI "Nordship", the first shackled "true" AI, currently runs all logistics.

# T.G. Labs
"Science redefined"

Bio, Nano, med, gene, space, other tech.

Run in orbital research stations

Has showroom/experience centers in Ports

Dr. Daevy, lead researcher

Rumored to have G-Zero blacksites (several).

# Tulles & deVerte
A megacorp based around the superstar "it" couple.

Sectors
* Feeds
* Lifestyle products
* Drugs
* Famous for being famous
* Fashion
* Entertainment
* Restaurants
* Weapontech
* Staffing

Angel investors for all the latest social platforms.

Their penthousePenthouse in South Central, club in Ports.

## Key individuals
* Tomi "Toad" Dian (lawyer/fixer from Grave/Mellberg/Tosk)

# UCS (United Citadel Security)
The current top dog megacorp when it comes to security services and weapons engineering.

Outfits most of Cy's secops.

Sectors
* Security
* Weapontech
* Combat enhancers
* Cerebral interfaces
* AI
* Spacetech

Currently at war with Alliansen Inc.

HQ is in Citadel Tower, South Central.

## Key individuals
* Mr. O.B.P. Gunner (CEO)
* The Gail couple (lead designers of the automated weapons platform department)

It's possible that all public faces of the megacorp are fabricated. Who's running things then?(hacker backstory)
</div>
