<h1>Writing Topics</h1>
<p>You need to write things down because you don't talk to people that often.</p>
<ol>
  <li>Why do you love dystopia so much?</li>
  <li>Men rebel the rules, for better or worse. They need to be convinced. "Because I said so" is not good enough. Sexist?</li>
  <li>Why do you want to learn how to draw? guitar?</li>
  <li>Do you care about your legacy? Not really?</li>
  <li>Bootstrapping morals and ethics</li>
  <li>Tell me about Dark Souls</li>
  <li>Explain the appeal of Cyberpunk and Warhammer (dystopias)</li>
  <li>Why didn't you like Agryna from Halo Infinite?</li>
  <li>What about Halo ODST pissed you off?</li>
  <li>Why does Daryl Talks Games get under your skin so much?</li>
  <li>Rhetoric is modern day knowing how to fight. Knowing how to fight is good too.</li>
  <li>What about Huberman?</li>
  <li>Some of this patriarchy stuff is just due to winning strategies. Psychopathic cunts who care nothing but for kicking others around tend to kick others around.</li>
  <li>Persona games?</li>
  <li>Games?</li>
  <li>Video essayists?</li>
  <li>Being an interesting conversationalist?</li>
  <li>Rock Lee and everything about that</li>
  <li>"Too many comics and cartoons have made me care too much about justice and stuff"</li>
  <li>The ability to stomach suffering</li>
  <li>Being fair is important to you?</li>
  <li>Being honest means being mean. It's not your job to get everyone to like you?</li>
  <li>Documenting yourself as a means of self-replication?</li>
  <li>What about TTRPGs?</li>
  <li>"My mom said I'd get tired of games some day. I wonder if she's starting to be right"</li>
  <li>Avoiding your thoughts with Reddit and Youtube</li>
  <li>David Goggins</li>
  <li>Why don't you like watching anime if you can't archive it?</li>
  <li>Retard with shitty chip implant becomes normal</li>
  <li>There's nothing that I actually love that deeply, at least compared to most people. My interests are very diffuse. This makes the advice of hobbies for meeting people difficult. Is perfection necessary? Do you want to be perfect, or rather have no weaknesses? You're a noob at board games too.</li>
  <li>It feels like I'm held to a higher standard. Because of my lack of normal conversation ability, I must justify my existence with clearly superior skill. Kind of similar to your dream of "fuck-you" money and dressing like a bum.</li>
  <li>"I hate Dating on the Spectrum. It's like a funhouse mirror version of myself, amplifying all my worst qualities and showing them back to me."</li>
  <li>Why do you want to be Adam Smasher or a space marine?</li>
  <li>Thoughts on Vermis?</li>
  <li>Thoughts on Oppenheimer?</li>
  <li>Thoughts on Godzilla Minus One?</li>
  <li>If only there was a way to get to know people or meet people without using words. I wish partner dancing looked cooler.</li>
  <li>You know that weird feeling you get when you can't find anything to say? I'll bet that doesn't happen when your brain feels more at ease and can make bonkers connections more easily.</li>
  <li>I'd like to read the 3 body problem books</li>
  <li>Remember when you wanted to learn about math and physics? What was that about?</li>
  <li>You seem to enjoy "turning shit into gold". Gratifying.</li>
  <li>Labor is the key money maker for a human. Always was. Type and quality is what to focus on.</li>
  <li>You need to be more witty, or maybe just more honest? Seems incompatible with work talk.</li>
  <li>Man I hate team-based online games. Am I just a pussy?</li>
  <li>You have to prove you're an interesting person these days. You have to prove you're a real person, like you are with Jed. Can't just say "umm" and "ahh". Like writing a resume.</li>
  <li>matttt</li>
  <li>If I had watched anime early enough and learned to draw it would've ruined my life. Guitar too probably.</li>
  <li>Remember FPS server browsers?</li>
  <li>Bro I fucking hate how I take these stupid "whooaaa" posts at face value (women's work never ends but men's is finite i.e. changing a tire. What are jobs? Yardwork? The ridicule? Regular maintenance?)</li>
  <li>Ok, we need to talk about WMAF</li>
  <li>Would you date an OnlyFans girl?</li>
  <li>Your problem with gacha</li>
</ol>
